<html>
    <head>
        <title>Add Map</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/map.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/sidebar.css' %}" />

        <script type="module" src="{% static 'challenges/map.js' %}"></script>
        <script type="module" src="{% static 'challenges/sidebar.js' %}"></script>
        <input type="hidden" id="positions" value="{{ positions }}">
        <input type="hidden" id="center" value="{{ center }}">
    </head>
    <body>
        <div id="map"></div>
        
        <div class="sidebar">
            {% if menu_items %}
            <ul>
                {% for task in menu_items %}
                    <li>
                        <p class="title">{{ task.taskType.taskName }}</p>
                        <p class="description">{{ task.taskType.description }}</p>
                        <div class="column">
                            <div class="left">
                                Location:<br>
                                {{ task.taskType.location.locationName }}
                            </div>
                            <div class="right"><button>Completed</button></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% elif is_admin %}
                <div id="no-challenges">
                    There are no active challenges, click the button below to add one<br>
                    <button id="add-challenge-button">+</button>
                </div>
            {% endif %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <div class="center">
        <div id="add-challenge-form" class="hideform">
            <button id="close" style="float: right;">X</button>
            <form>
                Task Name:<br>
                <input type="text" name="task_name">
                <br>
                Task description:<br>
                <input type="text" name="task_des">
                <br>
                Location:<br>
                <input type="text" name="location">
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        </div>

        {% include 'mysite/base.html' %}
        
        
        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "{{ API_KEY }}", v: "weekly"});</script>
    </body>
</html>