<html>
    <head>
        <title>Tasks</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/map.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/sidebar.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/loader.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script id="map-script" src="{% static 'challenges/map.js' %}"
        data-positions="{{ positions }}"
        data-map_center="{{ center }}"></script>
        <script src="{% static 'challenges/sidebar.js' %}"></script>
        <script src="{% static 'challenges/locations.js' %}"></script>
        <script src="{% static 'challenges/collapsible.js' %}"></script>
    </head>
    <body>
        
        <div id="map"></div>
        <div id="tutorial-popup" class="hideform">
            <button id="close-tutorial" style="float: right;">X</button>
            <h2>How to Play:</h2>
            <p>Visit locations around Campus to find tasks to do, you can see the tasks on the left. Once you complete a task upload a photo of it being completed. Smile! These photos could appear in the gallery. Earn points completing tasks and compete against others to be on top of the leaderboard!</p>
            <button id="dont-show-again">Okay, Don't show again</button>
        </div>
        <div class="sidebar">
            {% if tasks %}
                {% for location, loc_tasks in tasks.items %}
                    <button type="button" id="{{location}}-collapse-button" class="collapsible location-button">{{location}}</button>
                    <div id="{{location}}-collapsible" style="display: none;">
                        <ul>
                            {% for task in loc_tasks %}
                                <li>
                                    <span class="title">{{ task }}</span><br>
                                    <span class="description">{{ task.description }}</span><br><br>
                                    <div class="column">
                                        {% if location != "Extras" %}
                                            <div class="left">
                                                Location:<br>
                                                {{ location }}
                                            </div>
                                        {% endif %}
                                        <div class="right"><button onclick=
                                            "show_submit(
                                                '{{ task }}', '{{ task.location }}', '{{ task.id }}', '{{ task.location.latitude }}', '{{ task.location.longtitude }}'
                                            )">Completed</button>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <div id="no-challenges">
                    There are no active challenges<br>
                </div>
            {% endif %}
        </div>
        
        
        <div class="center">
        <div id="submit-challenge-form" class="hideform">
            <input type="hidden" id="task-lat" value="">
            <input type="hidden" id="task-lng" value="">
            <button id="close" style="float: right;" onclick="hide_submit()">X</button>
            <form id="form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="task_id" id="task-id" value="">
                <input type="hidden" name="lat" id="usr-lat" value="">
                <input type="hidden" name="lng" id="usr-lng" value="">

                <span id="task-name" class="title"></span>
                <br>
                <span id="task-loc" class="subtitle"></span>
                <br>
                <p id="task-loc" class="subtitle">Add image:<br>
                <input type="file" name="image" accept="image/*"></p>

                <button type="button" onclick="submit_form()">Submit</button>
            </form>
        </div>
        </div>

        {% include 'mysite/base.html' %}

        <script>
            (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
              key: "{{ API_KEY }}",
              v: "weekly",
              // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
              // Add other bootstrap parameters as needed, using camel case.
            });
        </script>

        <script src="{% static 'challenges/main.js' %}"></script>
</body>
</html>