<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/base.css' %}"/>
</head>
<body>
    <!-- Desktop navigation bar -->
    <div class="navbar" id="navbar">
        <button class="closeButton" onclick="closeNavbar()">✖</button>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'challenges' %}">Challenges</a>
        <a href="{% url 'leaderboard' %}">Leaderboard</a>
        <a href="{% url 'settings' %}">Settings</a>
        <!-- Can add more links here -->
    </div>
    <!-- Mobile navigation menu -->
    <div class="menu">
        <button onclick="toggleNavbar()">☰</button>
    </div>
    <script>
        var navbar = document.getElementById('navbar');
        var menuButton = document.querySelector('.menu');
        function closeNavbar(){
            navbar.classList.remove('open');
            setTimeout(function(){
                menuButton.style.display = 'flex';
            }, 500);
        }
        function openNavbar(){
            navbar.classList.add('open');
            menuButton.style.display = 'none';
        }
        function toggleNavbar() {
            if (navbar.classList.contains('open')) {
                closeNavbar();
            } else {
                openNavbar();
            }
        }
        let startXpos = 0;
        let endXpos = 0;
        function swipeDirection(){
            if (endXpos < startXpos) {
                closeNavbar(); /* Swiped right */
            }
            else if ((endXpos > startXpos)){
                openNavbar(); /* Swiped left */
            }
        }
        document.addEventListener('touchstart', function(event) {
            startXpos = event.changedTouches[0].clientX;
        }, false);
        document.addEventListener('touchend', function(event) {
            endXpos = event.changedTouches[0].clientX;
            swipeDirection();
        }, false);
    </script>
    <!-- Content -->
    {% block content %}{% endblock %}
</body>
</html>